

body {
  margin: 0 5%;  
  font-family: Verdana, sans-serif;
  font-size: 24px;
}
header {
  text-align: center;
  font-family: Georgia, serif;
}
aside {
  float: left;
  margin: 0 1.5%;
}
main {
  margin: 0 1.5%;
  text-align: left;
}
footer {
  clear: both;
  text-align: center;
  font-size: 28px;
}

a {
    color: #2578cb;
    text-decoration: none;
}

a:hover {
    color: #cc4125;
    text-decoration: underline;
}

.emphasizedText1 {
  color: #cc4125;
}
.emphasizedText2 {
  color: #25cbaf;
}
.hobby {
  padding-left: 350px;
  color: #2578cb;
}
